/*Estilo para o modo claro*/
body {
  background-color: #e2e2e2;
  color: #333333;
}

/*Estilo para o modo escuro*/
body.dark-mode {
  background: #000000;
  color: #f0f0f0;
}

/*Estilo da div que contém o toggle do tema*/
.theme-toggle-wrapper:before {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Segoe UI', sans-serif;
  color: #333333;
  background-color: #1a000000;
  padding: 8px;
  border-radius: 30px;
}

/*Estilo do switch (botão)*/
.theme-switch {
  position: relative;
  display: inline-block;
  width: 62px;
  height: 32px;
}

/*Esconde a checkbox do input*/
.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/*Estilo do toggle (Light mode)*/
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1.5px solid #333333;
  background-color: transparent;
  border-radius: 34px;
  transition: 0.4s;
}

/*Estilo da bola interna do switch (Light mode)*/
.slider:before {
  position: absolute;
  content: '';
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: #333333;
  border-radius: 50%;
  transition: 0.4s;
}

/*Estilo do toggle (Dark mode)*/
input:checked + .slider {
  border: 1.5px solid #f0f0f0;
  background-color: #00000048;
}

/*Estilo da bola interna do switch (Dark mode)*/
input:checked + .slider:before {
  transform: translateX(30px);
  background-color: #f0f0f0;
}

/*Software Skills Buttons*/
.software-button {
  background-color: #333333;
  border: none;
  border-radius: 17px;
  width: 68px;
  height: 46px;
}
