<!--Footer-->
<footer>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a
        class="nav-link pt-2 px-2"
        href="index.html#about-section"
        data-translate="about"
        >about</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link pt-2 px-2"
        href="index.html#curriculum-section"
        data-translate="curriculum"
        >curriculum</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link pt-2 px-2"
        href="index.html#projects-section"
        data-translate="projects"
        >projects</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link pt-2 px-2"
        href="index.html#contact-section"
        data-translate="contact"
        >contact</a
      >
    </li>
  </ul>
  <ul class="nav justify-content-center redes-footer">
    <li class="nav-item">
      <a
        class="nav-link"
        href="https://www.instagram.com/rafaelmatosprogrammer/"
        target="_blank"
        ><img
          class="img-fluid"
          src="./assets/images/icons/social/Social Icons-insta.svg"
          alt="Instagram Icon"
      /></a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="https://github.com/rafaelmprogrammer"
        target="_blank"
        ><img
          class="img-fluid"
          src="./assets/images/icons/social/Social Icons-git.svg"
          alt="GitHub Icon"
      /></a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="https://www.linkedin.com/in/rafael-matos-8227ab317/"
        target="_blank"
        ><img
          class="img-fluid"
          src="./assets/images/icons/social/Social Icons-ld.svg"
          alt="LinkedIn Icon"
      /></a>
    </li>
  </ul>
  <p class="text-center py-2 footer-p">
    2025 <span data-translate="programmingBy">Programming by</span>
    <a
      href="https://www.linkedin.com/in/rafael-matos-8227ab317/"
      target="_blank"
      >Rafael Matos</a
    >
    |
    <span data-translate="webDesignBy">WebDesign by</span>
    <a
      href="https://www.instagram.com/design.viviana/profilecard/?igsh=MWFndmE0MnZpNm55aQ%3D%3D"
      target="_blank"
      >Viviana Sousa</a
    >
  </p>
</footer>
